@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: #1bb193;
  --color-dark-primary: #053a3a;
  --color-primary-foreground: #ffffff;

  --color-secondary: #34d399;
  --color-secondary-foreground: #053a3a;

  /* Text */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  /* Backgrounds */
  --color-bg-primary: #ffffff;
  --color-bg-muted: #f9fafb;
  --color-bg-accent: #ecfdf5;

  /* Borders */
  --color-border: #e5e7eb;

  /* Status */
  --color-error: #ef4444;

  --color-overlay: rgba(0, 0, 0, 0.55);

  --color-header: #1fb59a; /* Teal modal header */
  --color-input-bg: #eaf2ff; /* Light blue input */
  --color-muted-action: #f2f2f2;

  --color-warning: #fbbf24; /* Yellow login button */

  /* colors  */
  --color-yellow-one: #ffb600;
}

.add-shadow {
  box-shadow: 0 0 10 0 #525151;
}
